/* laptop device */
@media screen and (max-width: 1200px) {
  .banner-content h1 {
    font-size: 48px;
  }

  .service-card {
    padding: 80px 20px;
  }

  .story-image img {
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
}
/* tablet device */
@media screen and (max-width: 1024px) {
  #banner {
    flex-direction: column-reverse;
    align-items: center;
  }
  .banner-content {
    width: 100%;
  }
  .banner-image {
    width: 100%;
  }
  #service-card-container {
    flex-direction: column;
  }
  .service-card {
    max-width: 100%;
  }

  #story-card {
    flex-direction: column;
  }
  .story-content {
    width: 100%;
  }
  .story-image {
    width: 100%;
  }
}
/* mobile device */
@media screen and (max-width: 640px) {
  .banner-content {
    text-align: center;
  }
  .banner-content h1 {
    font-size: 36px;
  }
  .btn, .btn-white{
    padding: 12px 20px;
  }
  .heading-content h2 {
    font-size: 30px;
  }
  .story-content{
    text-align: center;
  }
  #country-card-container {
    flex-direction: column;
    gap: 5px;
  }
}
